body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

h3{
    padding:20px;
}

#time-limit,#start{
    margin:20px;
}

#counter-input{
    padding: 40px 0;
    margin: 50px 0;
    background-image: linear-gradient(45deg, #a4f2f2, #efa7d7);
    text-align: center;   
}

#counter-input input{
    padding: 10px;
    width: 25%;
}


#counter-timer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,#cffffe,#f9f7d9);
    padding:60px 0;
    margin:50px 0;
}

#timer{
    display: inline-block;
    background-color: aliceblue;
    width: 15%;
    max-width: 100px;
    height: 100px;
    margin: auto 10px;
    box-shadow: 0px 0px 5px white;
    position: relative;
    overflow: hidden;
}

#timer p{
    display: block;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    width: 100%;
    /* height: 100%; */
    line-height: 100px;
    border-top: 2px solid black;
    background-color:#ffdbc5;
}

p.next {
    position: absolute;
    top: 100px;
}

p.animate {
    transition-duration: 0.5s;
    top: 0px;
}